body{
 margin: 0;
 padding: 0;
}
.top{
 background-color: #1F2937;
}
.first{
 border-radius: 50%;
 width: 90px;
 margin-left: 120px;
 
}
.header{
 display: flex;
 justify-content: space-between;
 
}
.right-links{
 margin-right:120px ;
 margin-top: 20px;
 
}
a{
 text-decoration: none;
 font-size: 18px;
 color: #E5E7EB;
 margin-right: 20px;
 
}
h1{
 font-size: 48px;
 color: #F9FAF8;
 font-weight: bolder;
 margin-bottom: 0;
 
}
p{
 font-size: 18px;
 color: #E5E7EB;
 margin-bottom: 0;
 margin-top: 9px;
 font-weight: lighter;
}
.content-header{
 margin: 0;
 padding: 0;
 display: flex;
 justify-content: space-between;

}
.left-part{
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 align-items: flex-start;
 margin-left: 100px;
 
 padding: 24px;
}
button{
 background-color: #3882F6;
 color: #E5E7EB;
 font-weight: bolder;
 width:30%;
 height: 32px;
 border: none;
 margin-top: 12px;
 font-size: 16px;
 text-align: center;
 border-radius: 9px;
 
 
 
 
 
}
.second{
 width: 500px;
 height: 260px;
 margin-left: auto;
 margin-right: 130px;
 box-shadow: 10px 10px;
 margin-top: 30px;
 margin-bottom: 80px;
 
}
.title{
 font-size: 36px;
 font-weight: bolder;
 color: #1F2937;
 text-align: center;
 margin-bottom: 30px;
 margin-top: 30px;
}
.container{
 display: flex;
 justify-content:center;
 margin-bottom: 50px;
 
 
}
.middle{
 width: 150px;
 height: 100px;
}
.info{
 max-width: 200px;
}
.quote{
 background-color: #E5E7EB;
 padding: 48px;
 margin-bottom: 90px;
 margin-top: 120px;
}
.qu{
 color: #1F2937;
 font-size: 36px;
 font-style: italic;
 text-align: center;
 margin-bottom: 9px;
 
}
h3{
 text-align: right;
 margin-right: 240px;
 margin-top: 0;
 font-size: 22px;
}
.section-three{
 padding: 100px;
 display: flex;
 justify-content: center;
 align-items: center;

 
}
.rectangle{
 background-color: rgb(88, 136, 242);
 display: flex;
 justify-content: space-around;
 align-items: center;
 color: white;
 font-size: 20px;
 border-radius: 20px;
 padding: 32px;
 flex-grow: 1;
 margin-left:200px;
 margin-right: 200px;
 margin-top: 0px;
 flex-shrink: 0;
 
 

 
}

.footer{
 background-color: #1F2937;
 padding: 30px;
}
.bottom{
 text-align: center;
}
.butoon{
 color: #E5E7EB;
 font-weight: bolder;
 width:94px;
 height: 30px;
 font-size: 20px;
 text-align: center;
 border-radius: 15px;
 border: 2px solid #E5E7EB;
}
.one{
 font-size: 23px;
 color: #E5E7EB;
 font-weight: bolder;
}
.sign{
 margin-top: 4px;
}
